<div class="container reset-password-container">
    <h2 class="text-center">Reset Password</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <form (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
    </form>
  </div>
  